{% extends 'base.html.twig' %}

{% block title %}trt-detail-utilisateurs{% endblock %}
{% block body %}
    {% block pagetitle %}<h1 class="mt-5 mb-3 font-weight-normal text-center">detail utilisateur</h1>{% endblock %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ user.firstname }}</li>
            <li class="list-group-item">{{ user.lastname }}</li>
            <li class="list-group-item">{{ user.email }}</li>
            
<li class="list-group-item">
            <a href="{{path('app_list_user')}}">
             <img src="{{asset('assets/img/checklist.png')}}" alt="trash" class="icon">
            </a>
           
            <a href="{{path('app_delete_user',{id: user.id})}}">
                      <img src="{{asset('assets/img/trash.png')}}" alt="trash" class="icon">
                       </a>


                       
                       </li>
          
           
               
        </ul>
    </div>
{% endblock %}