{% extends 'base.html.twig' %}
{% block title %}trt-list-utilisateurs{% endblock %}
{% block body %}
    {% block pagetitle %}<h1 class="mt-5 mb-3 font-weight-normal text-center">Liste des utilisateurs</h1>{% endblock %}
    <div class="row">
        {% for user in users %}
            <div class="card ms-3 mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h6 class="crad-subtitle mb-2 text-muted">{{ user.lastname }}</h6>
                    <p class="card-text">
                        Prénom: {{ user.firstname }}
                    </p>
                    <p class="card-text">
                        Nom: {{ user.lastname }}
                    </p>
                    <a href="{{ path('app_detail_user', {id: user.id})}}">
                        <i class="fas fa-info-circle"></i>
                    </a>
                    
                </div>
            </div>
        {% endfor %}
    </div>
    {% if isPaginated %}
        <div class="mt-5 row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page >1 %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_list_user', {page:page -1, nbre :nbre} )}}">Previous</a>
                        </li>
                    {% endif %}
                    {% for i in range(1, nbrePage) %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_list_user', {page: i, nbre :nbre} )}}">{{i }}</a>
                        </li>
                    {% endfor %}
                    {% if page  < nbrePage %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{{ path('app_list_user', {page: page +1, nbre :nbre} )}}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}
